@keyframes twinkling {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 500px 500px;
    }
}

.el-card.is-always-shadow, .el-card.is-hover-shadow:focus, .el-card.is-hover-shadow:hover {
    box-shadow: none;
}
/*星空背景*/
body {
    /*background: url("https://zbus.top/upload/蓝色碎片飞舞-sehe.gif") repeat top left;*/
    animation: twinkling 40s infinite alternate linear;
    background-color: whitesmoke;
}

.el-card {
    width: 100%;
    filter: opacity(90%); /* 设置透明度 */
    img* {
        filter: opacity(100%); /* 设置透明度 */
    }
}
.el-main{
    --el-main-padding: 0;
}
a {
    /* 移除下划线 */
    text-decoration: none;
}

a:hover {
    /* 移除下划线 */
    text-decoration: none;
    color: cornflowerblue;
}
/* 未访问的链接为蓝色 */
a:link, a:visited {
    color: cornflowerblue;
}
/* 鼠标悬停和点击时变为红色 */
a:hover, a:active {
    color: cornflowerblue;
}

.zj-home-container {
    display: flex;
    /*justify-content: center;*/
    width: 100%;
    height: 100vh;
    /*background-color: bisque*/
}

.zj-home-header-container {
    width: 100%;
    background-color: cornflowerblue;
    position: fixed;
    justify-content: center;
}

.zj-home-header-xs {
    display: none !important;
}

.zj-home-main-container {
    width: 60%;
}

.zj-home-main-introduce-card-body {
    display: flex;
}

.zj-home-main-introduce-card {
    margin-top: 2%;
    margin-left: 1%;
    max-width: 49%
}

@media screen and (min-width: 1599px) {
    .zj-home-main-container {
        width: 40% !important;
    }
    .zj-home-right-container {
        margin-left: 20px;
        width: 15% !important;
    }
}

@media screen and (min-width: 768px) {
    .zj-home-right-container {
        margin-left: 20px;
        width: 15% !important;
    }
    .el-affix {
        width: 100% !important;
    }
}

@media screen and (max-width: 768px) {
    .zj-home-header-md {
        display: none !important;
    }
    .zj-home-header-xs {
        display: flex !important;
        justify-content: right;
        width: 100%;
        .el-menu-item {
            text-align: right;
        }
    }
    .zj-home-main-container {
        margin-top: 1%;
        width: 100% !important;
    }
    .zj-home-right-container {
        display: none !important;
    }

    .zj-home-friends-card {
        max-width: 100% !important;
        margin-top: 2%;
        max-height: 250px;
        display: flex;
    }

    .zj-home-main-introduce-card {
        margin-top: 2%;
        margin-left: 0 !important;
        max-width: 100% !important;
    }
    .zj-home-main-introduce-card-body{
        display: block;
    }

    .el-main {
        --el-main-padding: 0;
    }
    .el-header {
        --el-header-padding: 0 0;
    }
}

.zj-home-header-md {
    width: 100%;
    display: flex;
    justify-content: center;
    /*margin-bottom: 2%;*/
}

.zj-home-body-container {
    /*margin-top: 5%;*/
    width: 100%;
    display: flex;
    justify-content: center;
}

.zj-blog-footer {
    margin-top: 5%;
    text-align: center;
    line-height: 0.8;
}

.zj-home-right-container {
    margin-left: 20px;
    width: 20%;
    .el-card {
        width: 100%;
        margin-top: 5%;
    }
}

.zj-home-blog-toc-list-container {
    width: 100%;
    .el-card {
        width: 100%;
    }
    /*margin-top: 10%;*/

    .zj-blog-toc-list-container {
        width: 100%;
    }
}

.zj-home-article-header-image {
    width: 100%;
    height: 300px;
}


.zj-blog-list-item {
    width: 100%;
    margin-top: 2%;
}
.zj-blog-p {
    text-indent: 2em;
    font-size: 16px
}
.zj-blog-tag {
    text-indent: 0;
    font-size: 16px
}

.zj-blog-timeline {
    max-width: 600px;
    display: block;
    justify-content: center;
}

.zj-blog-timeline-container {
    display: flex;
    justify-content: center;
}

.zj-blog-timeline-tag {
    margin-top: 2%;
    margin-bottom: 10px;
}
