.zj-copy-btn {
/*/ / position: absolute; !* 使用绝对定位 *!*/
    background-color: slategray; /* 背景颜色 */
    color: white; /* 文本颜色 */
    float: right;
    cursor: pointer; /* 更改鼠标指针样式 */
    border-radius: 4px; /* 圆角效果 */
    width: 45px;
    height: 30px;
}

/* 当鼠标悬停在按钮上时的样式 */
.zj-copy-btn:hover {
/*/ / background-color: bisque; !* 变暗背景色 *!*/
    opacity: 0.9; /* 提高透明度 */
}

table.highlight {
    border-spacing: 0;
    border-collapse: collapse;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}

.blob-num {
    position: relative;
    width: 1%;
    min-width: 20px;
    padding-right: 10px;
/*/ / padding-left: 10 px;*/
    font-size: 12px;
/*/ / line-height: 20 px;*/
    color: #6e7781;
    text-align: right;
    white-space: normal;
    vertical-align: top;
    -webkit-user-select: none;
    user-select: none;
}

.blob-num::before {
    content: attr(data-line-number);
}

.blob-code-inner {
    display: table-cell;
    overflow: visible;
    font-size: 12px;
    /*//color: #24292f;*/
    word-wrap: anywhere;
    white-space: pre;
}

.blob-code {
    position: relative;
    padding-right: 10px;
    /*//padding-left: 10px;*/
    line-height: 24px;
    vertical-align: top;
}

.toc-link {
    color: #000;
    text-decoration: none;
}

.zj-detail-header-img-card {
    height: 300px;
    width: 100%;
    background-image: url("https://cdn.seovx.com/?mom=302");
    background-size: cover;
    filter: opacity(100%); /* 设置透明度 */
}
.zj-detail-header-content-card {
    /*opacity: inherit;*/
    a {
        color: black;
        opacity: inherit;
    }
}

.zj-detail-content-card {
    margin-top: 2%;
    p {
        text-indent: 2em;
        line-height: 1.8;
    }
    li > p {
        text-indent: 0;
    }
}

.zj-blog-content-img-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    img {
        width: 80%;
    }
    img:hover {
        border: #6e7781 1px solid;
    }
}

.zj-article-header-category-tag{
    margin-top: 2%;
}
